@font-face {
    src: url("fonts/InterVariable.woff2") format("woff2");
        font-family: 'Inter';
        font-style: normal;
        font-weight: normal;
        }

    @font-face {
            src: url("fonts/InterVariable-Italic.woff2") format("woff2");
                font-family: 'Inter';
                font-style: italic;
                font-weight: normal;
                }
    
    body{
    background-color: rgb(37, 43, 54); 
    font-family: 'Inter', sans-serif;
}

  /* color sku */
/* darkest gray 18,19,24*/
/* shark gray 37,43.54*/
/* lightest gray 195,197,199*/
/* neon blue 70,162,157*/
/* darker blue 241,241,151*/
.hero{
    background-image: url("assets/hero-sec.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:50vh;
    /* height:600px;  */
    /* PLAYWITH % */

}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 80ch);  /* i missed what this was for oops */
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */
@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "v h" /* how to swap the 2 sections of the page */
    "a a";
}
#history {
grid-area: h;
}

#variations{
grid-area: v;
}

#alphabet {
grid-area: a;
}
}
/* CSS for the footer */
footer{
    background-color: gray; 
    /* i can add hight in the footer ex is height:200pz */
}

  /* color sku */
/* darkest gray 18,19,24*/
/* shark gray 37,43.54*/
/* lightest gray 195,197,199*/
/* dark blue 70,162,157*/
/* neon blue 102,252,239*/
/*OTHER NAV BLUE ALT (56, 65, 82)*/


/* font style area  */
h2{
    color: rgb( 102,252,239);
    font-variation-settings: "opsz" 14, "wght" 100; /* changes the headers to section headers */
    text-decoration: dotted underline;
    text-underline-offset: 6px;
    text-decoration-color: rgb(82, 91, 106);
    /* 
        font-weight:20; 
        text-align: center;
        font-size: 5em;
        animation: weightChange 7s infinite;
        come back to this later!!!
    */
}
h3{
    color: white;
    font-weight:20; 
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 3rem); /* Dynamically adjusts font size */

    position: absolute;
    margin-top:150px;
    animation: weightChange 7s infinite;
}
p{
    color: white;
    font-size: 1.4em;
    text-align: left;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 14, "wght" 100;
    }
    50%{font-variation-settings: "opsz" 32, "wght" 900;
    }
    
}
/* Animation for the variable font sections */

 /* color sku */
/* darkest gray 18,19,24*/
/* shark gray 37,43.54*/
/* lightest gray 195,197,199*/
/* dark blue 70,162,157*/
/* neon blue 102,252,239*/


h4{
    font-size: 40px;
    color: rgb(102,252,239);
    margin:15px;
}
.size {
    animation: sizeChange 7s infinite;
}
@keyframes sizeChange {
    0%, 100%{
        font-variation-settings: "opsz" 14, "wght" 400;
    }
    50%{font-variation-settings: "opsz" 32, "wght" 400;
    }
    
}
.Weight {
    animation: weightChange 7s infinite;
} 
@keyframes WeightChange {
    0%, 100%{
        font-variation-settings: "opsz" 14, "wght" 100;
    }
    50%{font-variation-settings: "opsz" 32, "wght" 900;
    }
    
}

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}
/* Custom link with background and border */
a {display: inline-block;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    /* padding: 20px 20px; */
    /* margin:60px; */
    border-radius: 10px;
    font-size: 16px;
}

.custom-link {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #0c0a4a; /* green */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  .custom-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    top: 0;
    left: -100%;
    transition: left 0.3s;
  }

  .custom-link:hover::before {
    left: 0;
  }

  /* Custom link hover effect */
  .custom-link:hover {
    background-color: #1a6185; /* darker green */
  }
