@font-face {
    src: url("fonts/InterVariable.woff2") format("woff2");
        font-family: 'Inter';
        font-style: normal;
        font-weight: normal;
        }

    @font-face {
            src: url("fonts/InterVariable-Italic.woff2") format("woff2");
                font-family: 'Inter';
                font-style: italic;
                font-weight: normal;
                }
    
    body{
    background-color: rgb(46, 32, 62); 
    font-family: 'Inter', sans-serif;
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 80ch);  /* i missed what this was for oops */
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "v h" /* how to swap the 2 sections of the page */
    "a a";
}

#history {
grid-area: h;
}

#variations{
grid-area: v;
}

#alphabet {
grid-area: a;
}
}
/* CSS for the footer */
footer{
    background-color: gray; /* make same color as nav bar */
    /* i can add hight in the footer ex is height:200pz */
}

/* font style area  */
h2{
    color: rgb(226, 2, 226);
    font-variation-settings: "opsz" 14, "wght" 100; /* changes the headers to section headers */
    
    /* 
        font-weight:20; 
        text-align: center;
        font-size: 5em;
        animation: weightChange 7s infinite;
        come back to this later!!!
    */
}
h3{
    color: white;
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 14, "wght" 100;
    }
    50%{font-variation-settings: "opsz" 32, "wght" 900;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

